@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body{
  background-repeat: no-repeat;
  background-size: 100% 110%;
  color:#b7b7b7;
  font-family: Open Sans;
  margin:0;
  width:100%;
  height:100%;
}

.title {
    text-align: center;
    margin-top: 2%;
    margin-bottom: -5%;
}

.text-white{
    color: white;
}

.center{
  text-align: -webkit-center;
}

html {
    width: 100%;
    height: 128%;
    scroll-behavior: smooth;
    background-color: #e1eff3;
}
.next {
    color: white;
    background: transparent;
    padding: 19px 31px 20px 29px;
    border: 2px solid white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.page {
    color: black;
    padding: 19px 31px 20px 29px;
    border: 2px solid black;
    text-decoration: none;
    font-size: 24px;
}

.contact {
    color: white;
    padding: 19px 31px 20px 29px;
    border: 2px solid white;
    text-decoration: none;
    font-size: 24px;
}

.efecto:target{
    height:100%;
}
 
 
#desarrollofrontend a{
	padding: 0px;
	border:none;
 
}
#desarrollofrontend{
	padding: 10px 0px 10px 0px;
	background: #00bdff;
	color: white;
	width: 100%;
	bottom: 0px;
	position: fixed;
	padding-left: 15px;
}

.position {
    margin-top: -15%;
}

.parrafo {
    font-size: 141%;
    /* font-style: italic; */
    margin: 4%;
    width: 86%;
}

.parrafomarketing {
    font-size: 39%;
    font-style: italic;
    margin: auto;
    /* margin-left: 16%; */
    /* margin-right: 24%; */
    width: 75%;
    margin-top: 4%!important;
    margin-bottom: 19%;
}

.parrafoprincipal {
    font-size: 33%;
    font-style: italic;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 4%;
}

.parrafo2 {
    font-size: 39%;
    font-style: italic;
    margin: auto;
    margin-top: 1%;
}

.img {
    display: block;
    margin: auto;
    width: 16%;
    margin-top: -7%;
    margin-bottom: 7%;
}

#imgslider {
    margin: auto;
    width: 100%;
}

#imgslider2 {
    width: 100%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -4%;
}

#imgslider3 {
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}

.grow {
    color: white;
    opacity: 0.7;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-delay: 0s;
    transition-timing-function: linear;
}

.grow:hover {
    opacity: 10;

}

.imagen:hover {
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
}
.imagen {

    transition-duration: 1s;
    
}

.font {
    font-family: 'Lato';
    font-size: 120%;
    color: #b7b7b7;
}

.fontcontact {
    font-family: 'Lato';
    font-size: 439%;
    color: white;
    text-align: center;
    margin-top: 16%;
}

.fontblack {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-size: 82%;
    font-weight: bold;
    color: black;
}

.elemento_animado {
animation-duration: 0.25s;
transition-timing-function: ease-in;
animation-fill-mode: both;
}
.transicion--fadein {
animation-name: fadeIn;
}

@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}

.mySlides {
    display:none;
}

.contacto {
    margin-bottom: -5%;
    color: white;
    /* font-weight: bold; */
}

.email {
    margin-left: 16%;
    color: white;
}

.izquierda {
    float: left;
    margin-top: 1%;
    margin-right: -18%;
    margin-left: 19%;
}

.derecha {
    float: right;
    margin-top: -22%;
    margin-right: 18%;
}
.centerimg {
    margin-top: 8%;
    margin-right: 16%;
}

.imgcentered {
    margin-top: -27%;
    margin-bottom: -36%;
}

.imgcenter {
    display: block;
    margin: auto;
    width: 19%;
    margin-top: -8%;
    margin-bottom: 7%;
}
.size {
    font-size: 14px;
    margin-top: 1%;
}

 @import url('https://fonts.googleapis.com/css?family=Lobster+Two');

.circle {
    margin-top: 19%;
}

.imgcontact {
    width: 61%;
    display: block;
    margin: auto;
}

.imgfacebook {
    width: 75%;
    height: 73%;
    display: block;
    margin: auto;
    margin-top: -11%;
    margin-bottom: -9%;
}

.center-redes {
    display: block;
    margin-right: 41%;
    margin-left: 41%;
    display: inline-flex !important;
}

.contactaligntext {
    /* text-align: center; */
    margin-top: 4%;
    /* font-style: italic; */
    /* margin-bottom: -8%; */
    /* margin: 0; */
}

.contactemail {
    text-align: center;
    margin-top: 4%;
    margin-bottom: -8%;
}

.marginbutton {
    margin-top: 2%;
}

.margincontact {
    text-align: center;
    margin-top: 10%;
}

.hr1 {
    width: 66%;
    margin: auto;
    margin-top: -2%;
    margin-bottom: 2%;
}

.centerfree {
    /* margin: auto; */
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -16%;
    width: 33%;
    margin-bottom: 3%;
}

.marginemarketing {
    margin-bottom: 4%;
}

.parrafocentrado{
    text-align: center;
}

.iniciocontacto {
    color: #f7f7f7;
    text-decoration: none;
}

.iniciocontacto:hover {
    color: #f7f7f7;
    text-decoration:  underline;
}

.emailtext {
    margin-left: 16%;
}
.phonetext {
    margin-right: 20%;
    /* width: 212%; */
}

.imgemail {
    width: 9%;
    float: left;
    margin-top: 5%;
}

.imgphone {
    width: 8%;
    float: left;
    margin-top: 4%;
    margin-left: 10%;
}

.emailparrafo {
    margin-left: 11%;
    color: white;
}


.phoneparrafo {
    margin-right: 18%;
    color: white;
}

.waterpacifik {
    color: #b7b7b3;
}

.quienestitle {
    margin-top: -8%;
}

.iconupheigth {
    margin-top: -6% !important;
}

p {
    font-family: 'Lato';
    font-size: 141%;
}

.parrafoquienes {
    font-size: 129%;
    font-family: 'Lato';
    font-weight: bold;
}

.marginquienes{
    margin-top: -5%;
}

.imgquienes {
    margin-top: -7%;
}

.slider {
    margin-top: 4%;
}



@media screen and (min-width:300px) and (max-width:800px) {
    body {
        font-size:17px !important;
    }
    
    .fontcontact {
        font-size: 321%;
        margin-top: 37%;
    }

    .emailtext{
        margin-left: 3%;
        font-size: 69%;
    }

    .phonetext {
        font-size: 68%;
        margin-right: 0% !important;
    }

    .imgcontact{
        width: 278%;
        margin-left: -91%
    }

    .youtube {
        width: 329px;
        height: 200px;
        margin-left: -13%;
    }
   }

   @media screen and (min-width:400px) and (max-width:800px) {
    .youtube {
        margin-left: -5%;
    }
   }