@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    box-sizing: border-box;
  }
.sec {
    position: relative;
    width: 100%;
    height: 101vh;
    overflow: hidden;
}

.uno{
    background:linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url("../img/black-and-white-city-background.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.dos {
  height: 290%;
  width: 100%;
  margin: auto;
  background-color: #e1eff3;
  color: black;
  margin-bottom: -12%;
}

.sesgouno{
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 15vh 0 0 100vw;
    border-style: solid;
    border-color: transparent transparent transparent #e1eff3;
}

.tres{
    background:url(../img/background2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
}
.sesgodos{
    position: absolute;
    top: 0;
    left: 0;
    border-width: 15vh 100vw 0 0;
    border-style: solid;
    border-color:#e1eff3 transparent transparent transparent;
}

nav{
    display: flex !important; 
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo{
    height: 80px;
}

.logo img{
    height: 100%;
}

.enlaces a {
    color: white !important;
    font-size: 18px;
    text-decoration: none;
    font-weight: 300;
    margin-left: 20px;
}

/* a:hover{
    text-decoration: underline !important;
    color: white !important;

} */

.subtitulo {
    font-size: 320% !important;
    font-family: 'Lato' !important;
}

.h1 {
    font-size: 96px !important;
    font-family: 'Lato' !important;
}

.contenedor{
    widows: 90%;
    max-width: 1000px;
    margin: auto;
}

.texto p {
    font-size: 40px;
    font-weight: 300;
}

.texto {
  text-align: center;
  color: white;
  margin: 128px 0px 0px 0px;
  position: relative;
}

.textoservicios {
    text-align: center;
    color: white;
    margin: 31px 0;
}

#proyectos {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.9)
  ), url(../img/dark-texture-background.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: 40%;
  padding: 10%;
  color: white;
}

#quienes_somos {
  height: 16%;
  padding: 10%;
}

.navbar-toggler {
    color: white !important;
    border-color: white !important;
}

#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    /* min-width: 100%; */
    /* min-height: 100%; */
    height: 175%;
    width: 188%;
    /* margin-top: 30%; */
    margin-bottom: -19%;
    /* margin-left: -13%; */
    margin-right: -26%;
}

  .content {
    /* position: fixed; */
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }

  .video{
      margin: auto; 
  }

  nav a:hover,
  nav a:focus {
      outline: none;
  }
  
  /* Effect 1: Brackets */
  .cl-effect-1 a::before,
  .cl-effect-1 a::after {
      display: inline-block;
      opacity: 0;
      -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
      -moz-transition: -moz-transform 0.3s, opacity 0.2s;
      transition: transform 0.3s, opacity 0.2s;
  }
  
  .cl-effect-1 a::before {
      /* margin-right: 2px; */
      content: '[';
      -webkit-transform: translateX(20px);
      -moz-transform: translateX(20px);
      transform: translateX(20px);
  }
  
  .cl-effect-1 a::after {
      /* margin-left: 2px; */
      content: ']';
      -webkit-transform: translateX(-20px);
      -moz-transform: translateX(-20px);
      transform: translateX(-20px);
  }
  
  .cl-effect-1 a:hover::before,
  .cl-effect-1 a:hover::after,
  .cl-effect-1 a:focus::before,
  .cl-effect-1 a:focus::after {
      opacity: 1;
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      transform: translateX(0px);
  }

  .iconupblack {
    color: black;
}

.iconupwhite {
  color: white;
  /* margin-top: 21% !important; */
}

.zoom {
    /* padding: 50px; */
    /* background-color: green; */
    transition: transform .2s;
    /* width: 5px; */
    font-size: 354% !important;
    /* height: 200px; */
    margin: 0 auto;
  }
  
  .zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }

  .view {
    margin: 10px;
    /* float: left; */
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff url(../img/water.jpg) no-repeat center center;
    background-size: cover;
  }
  
  .view .mask,
  .view .content {
    width: 308px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
  }
  
  .view img {
    display: block;
    position: relative
  }
  
  .view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    font-family: Raleway, serif;
    padding: 10px;
    /*background: rgba(0, 0, 0, 0.8);*/
    margin: 20px 0 0 0
  }
  
  .view p {
    font-family: Merriweather, serif;
    font-style: italic;
    font-size: 14px;
    position: relative;
    color: #fff;
    padding: 0px 20px 0px;
    text-align: center
  }
  
  .view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    font-family: Raleway, serif;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
  }
  
  .view a.info:hover {
    box-shadow: 0 0 5px #000
  }

  .view-tenth {
    width: 82%;
    height: 93%;
}

  .view-tenth img {
    transform: scaleY(1);
    transition: all .7s ease-in-out;
    width: 100%;
    height: 102%;
  }
  
  .view-tenth .mask {
    background-color: rgba(184, 165, 253, 0.829);
    /* background-size: cover; */
    transition: all 0.5s linear;
    opacity: 0;
    width: 100%;
    height: 100%;
  }
  
  .view-tenth h2 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 40px 0px 40px;
    transform: scale(0);
    color: #333;
    transition: all 0.5s linear;
    opacity: 0;
  }
  
  .view-tenth p {
    color: #333;
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s linear;
  }
  
  .view-tenth a.info {
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s linear;
  }
  
  .view-tenth:hover img {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
  
  .view-tenth:hover .mask {
    opacity: 1;
  }
  
  .view-tenth:hover h2,
  .view-tenth:hover p,
  .view-tenth:hover a.info {
    transform: scale(1);
    opacity: 1;
  }

  .proyectostexto {
    margin-top: -7%;
}

.textocentrado{
  text-align: center; 
  color: #f1f1f1;
}

.link {
  width: 5%;
  display: block;
  margin: auto;
}

@media screen and (min-width:300px) and (max-width:800px) {
  body {
      font-size:17px !important;
  }

  .textocentrado {
    margin-left: -68%;
    margin-top: 10%;
  }
  
  .uno {
    height: 80%;
}
  .dos {
    height: 747%;
    margin-bottom: -467%;
  }

  .h1 {
    font-size: 48px !important;
    margin-top: -25% !important;
  }

  .texto p {
    font-size: 27px;
    padding: 60px;
    margin-top: -11%;
  }

  #myVideo {
    height: 224%;
    width: 375%;
    margin-bottom: -99%;
  }

  #proyectos {
    height: 37%;
  }

  .view{
    margin-left: -14%;

  }

  .view-tenth {
    width: 129%;
    height: 93%;
}

  .video{
    margin-top: 31%;
    margin-bottom: 20%;
  }

  .subtitulo {
    font-size: 268% !important;
  }

  #quienes_somos {
    margin-top: 6%;
  }

  .sesgouno{
    bottom: -3px;
    border-width: 15vh 0 0 104vw;
  }
}

@media screen and (min-width:400px) and (max-width:800px) {
  .view {
      margin-left: -5%;
  }
  
  #proyectos {
    height: 31%;
  }
 }
